@charset "utf-8";
html, body {
    font-family: 'Noto Sans', sans-serif;
}
#wrap {
    width: 100%;
    /* border: 8px solid #fff; */
}
#wrap {
    background-image: url('../images/poster_mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
/* Header */
.header {
    padding: 24px;
}
/*
=============================================================
햄버거메뉴 그리기
=============================================================
*/
.header input[id="menuicon"] {
    display: none;
}
.header input[id="menuicon"]+label {
    display: block;
    width: 24px;
    height: 14px;
    cursor: pointer;
    /* 포지션 위치기준 */
    position: relative;
}
/* A.햄버거 그리기 */
.header input[id="menuicon"]+label span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    /* 포지션 */
    position: absolute;
    z-index: 100;
    transition: all .3s;
}
.header input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
}
.header input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.header input[id="menuicon"]+label span:nth-child(3) {
    bottom : 0px;
}

/* B. 클릭 시 X자 모양 만들기 */
.header input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.header input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
}
.header input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

/* C. GNB메뉴 슬라이딩 효과 */
.header nav[class="mobile_gnb"] {
    width: 250px;
    height: 100%;
    background-color: #195730;
    /* 포지션 */
    position: absolute;
    left: -250px;
    top: 0;
    z-index: 90;
    transition: all .3s;
}
.header input[id="menuicon"]:checked+label+nav {
    left: 0px;
    top: 0px;
}
.header .mobile_gnb {
    padding-top: 64px;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
}
.header .mobile_gnb .gnb li{
    height: 42px;
    line-height: 42px;
    padding-left: 24px;
}
.header .mobile_gnb .gnb li:hover{
    background-color: #fff;
}
.header .mobile_gnb .gnb li a{
    display: block;
    color: #fff;
}
.header .mobile_gnb .gnb li a:hover{
    color: #000;
    font-weight: 700;
}
/* SHARE 호버효과 없애기 */
.header .mobile_gnb .gnb li:last-child:hover{
    background: none;
}
.header .mobile_gnb .gnb li:last-child>a:hover{
    color: #fff;
    font-weight: 400;
}
/* SNS */
.header .mobile_gnb .sns {
    display: table;
    width: 234px;
    padding-left: 24px;
}
.header .mobile_gnb .sns li{
    display: table-cell;
    width: 70px;
    height: 40px;
    text-align: center;
    padding-top: 11px;
}
.header .mobile_gnb .sns i{
    font-size: 1.2rem;
    color: #fff;
}
.header .mobile_gnb .sns .facebook {background-color: #3c5a98;}
.header .mobile_gnb .sns .facebook:hover {background-color: #2b4b8e;}
.header .mobile_gnb .sns .twitter {background-color: #56acef;}
.header .mobile_gnb .sns .twitter:hover {background-color: #2898f0;}
.header .mobile_gnb .sns .instagram {background-color: #5cbf4a;}
.header .mobile_gnb .sns .instagram:hover {background-color: #2eb116;}

/* Contents */
#contents {
    width: 100%;
}
section .button {
    width: 290px;
    height: 40px;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    z-index: 1;
}
section .button button {
    width: 290px;
    height: 48px;
    background: #fff;
}
section .button button a {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    color: #222;
}

/* Footer */
footer {
    background: #000;
    padding-top: 30px;
    text-align: center;
}
footer p {
    margin-bottom: 56px;
}
footer .copyright {
    padding-bottom: 24px;
    font-weight: 300;
}
footer .copyright p {
    font-size: 0.825rem;
    margin-bottom: 24px;
    color: #4c4c4c;
}
footer .copyright p:last-child {
    color: #4c4c4c;
    font-size: 0.75rem;
}
