@charset "utf-8";

/* 폰트 root 기준값 = rem */
html {font-size: 62.5%;} /* 10px/16px*/
body {font-family: 'Noto sans Kr', sans-serif;}
/* Safe Area 1300px */
.w1300 {width: 1300px; margin: 0 auto;}
.w1920 {width: 1920px; margin: 0 auto;}

#wrap {
    width: 100%;
}

/* Aside */
aside {
    height: 56px;
    background-color: #010C29;
    color: #fff;
    font-weight: 700;
}
.top_sub {
    padding: 0 48px 0 52px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.top_sub p{
    font-size: 1.4rem;
}
.top_sub p:nth-child(1){
    margin-left: 410px;
    line-height: 56px;
}
.top_sub p:nth-child(2){
    /* margin-left: -4px 0 0 -400px; */
    line-height: 56px;
    /* vertical-align: middle; */
}
.top_sub p:nth-child(3) img{
    /* vertical-align: middle; */
    margin: 20px 0 0 420px;
}

/* Header */
.lnb_all {
    border-bottom: 1px solid #c9c9c9;
}
.root_lnb {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    background-color: #fff;
    padding-left: 536px;
}
.root_lnb .lnb{
    width: 182px;
    display: flex;
    justify-content: space-between;
}
.root_lnb .lnb li{
    margin-left: 12px;
}
.root_lnb .lnb li:nth-child(1){
    margin: 0;
}

/* GNB */
.gnb_all{
    border-bottom: 1px solid #c9c9c9;
}
.global {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
}
.global .gnb {
    display: flex;
    font-weight: bold;
    font-size: 1.4rem;
}
.global .gnb li {
    margin-right: 52px;
}
.global .gnb li:last-child {
    margin-right: 0;
}
.global .snb {
    display: flex;
    width: 180px;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
}

/* Slider */
.slider img {
    max-width: 100%;
}

/* Section 01 */
.md_pick {
    padding: 100px 0 150px 0;
}
.md_pick>h2 {
    position: relative;
    top: 32px;
    left: 754px;
}
.md_pick .contents {
    display: flex;
}
.md_pick .contents .sub_contents ul {
    display: flex;
    align-items: flex-start;
    position: relative;
    top: 92px;
    left: -64px;
}
.md_pick .contents .sub_contents img{
    margin-left: 10px;
}
.md_pick>h3 {
    text-align: right;
}

/* Section 02 */
.real_title {
    background-color: #F1F1F1;
}
.real_title .real_time {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 663px;
}
.real_time ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.real_time ul li{
    font-size: 2.4rem;
    margin-top: 22px;
    color: #575757;
    display: inline-block;
}
.real_time ul li a{
    width: 232px;
    height: 32px;
}
.real_time ul li:nth-child(2){
    margin-top: 36px;
}
.real_time ul li:nth-child(5){
    margin-bottom: 50px;
}
.real_time ul li a:hover{
    color: #fff;
    width: 220px;
    height: 46px;
    background-color: #88C850;
}
.real_time ul li:last-child a:hover{
    background-color: transparent;
}

/* Section 03 */
.review {
    padding-bottom: 167px;
}
.review .review_all {
    padding-left: 83px;
}
.review p {
    text-align: center;
    margin: 124px 0 44px 0;
}
.review .review_photo {
    display: flex;
    width: 1135px;
}
.review .review_photo ul:last-child {
    display: flex;
    flex-flow: row wrap;
}
.review .review_photo ul:first-child li:first-child {
    margin: 0 5px 5px 0;
}
.review .review_photo ul:last-child li:nth-child(1),
.review .review_photo ul:last-child li:nth-child(4) {
    margin: 0 0 5px 5px;
}
.review .review_photo ul:last-child li:nth-child(2), 
.review .review_photo ul:last-child li:nth-child(5) {
    margin: 0 5px 5px 5px ;
}
.review .btn {
    text-align: right;
    margin-right: 83px;
}

/* Footer */
footer {
    background-color: #010717;
    color: #fff;
    height: 280px;
}
.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.footer .footer_left ul:first-child {
    display: flex;
}
.footer .footer_left div {
    margin: 20px 0 30px 0;
}
.footer .footer_left div .escrow {
    display: flex;
}
.footer .footer_left div .escrow img{
    margin-left: 40px;
}
.footer .footer_right dt{
    font-size: 1.4rem;
}
.footer .footer_right dl:first-child{
    margin-bottom: 40px;
}
.footer .footer_right dd:nth-child(2){
    font-size: 2rem;
}
.footer .footer_right dd:nth-child(3){
    font-size: 1.2rem;
}