html {
    font-size: 62.5%; /* 10px */
}
body {
    font-family: 'Noto Sans Kr', sans-serif;
}
.container {
    margin: 0 auto;
    padding: 0 10px;
}
/* Header */
#header {
    padding: 10px 5px;
}
#header ul {
    margin: 20px 0 10px;
}
#header ul li {
    margin: 10px 0;
}
#header ul li a {
    font-size: 1.4rem;
    color: #555;
}
header {
    position: relative;
}
/* GNB 토글효과 - 이미지 사용시 */
.container::after {
    content: "";
    display: block;
    clear: both;
}
/* #header label {
    display: block;
} */
.ham {
    cursor: pointer;
    float: left;
}
.search {
    float: right;
}
.logo {
    text-align: center;
}



/* UI 불필요 요소. 기능에만 필요함 */
#c_checkbox {
    display: none;
}
/* 첫 화면에서 GNB메뉴를 안보이게 함 */
#c_checkbox:checked+nav {
    display: none;
}
/* label을 클릭했을 때 nav가 보이도록 함 */
/* #c_checkbox:checked+nav {
    display: block;
} */

/* Content1 */
#main_content {
    width: 100%;
    background-color: #00afa0;
    padding: 40px 15px 30px;
    font-size: 1.4rem;
}
#main_content h2 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
#main_content p {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
}

/* Content2 */
#sub_content {
    width: 100%;
    padding: 30px;
    font-size: 1.6rem;
}
#sub_content h2 {
    color: #171616;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
} 
#sub_content p {
    color: #555;
    font-size: 1.2rem;
    text-align: center;
}
#sub_content img {
    width: 99%;
    display: block;
    margin: 10px auto;
}

/* Footer */
#footer {
    padding-top: 40px;
}
#footer footer {
    color: #fff;
    font-size: 1.1rem;
    line-height: 40px;
    text-align: center;
    background-color: #323232;
}