*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #000;
}

#wrap {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: skyblue;
}

header {
  background-color: blue;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
}

main::after{
  content: "";
  display: block;
  clear: both;
}
main h2 {
  font-size: 30px;
  font-weight: bold;
}
main .main {
  width: 500px;
  float: left;
  background-color: cyan;
  margin-top: 20px;
  padding: 10px;
}

main .side {
  width: 200px;
  float: right;
  background-color: darkgray;
  margin-top: 20px;
  padding: 10px;
}
footer {
  text-align: center;
  background-color: gray;
  margin-top: 20px;
  padding: 30px;
}