/* COMMON */
body {
  color: #333;
  font-size: 16px; /* 브라우저 기본 폰트사이즈 */
  font-weight: 400; /*일반적인 두께 */
  line-height: 1,4; /* 행간 높이 */
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block;
  /* img는 인라인 요소이므로 하나의 레이아웃 처리를 하여 빈 공간이 생기는 것을 방지 */
}
a {
  text-decoration: none;
}


/* HEADER */
header {
  background-color: royalblue;
}

header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto; /* 가운데정렬 */
  background-color: orange;
  position: relative;
}

header .logo {
  height: 75px; /* 이미지와 같은 높이값 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; /* 부모요소(.inner)의 왼쪽에 붙어있음을 시각적으로 표시. 없어도 됨 */
  margin: auto 0;
}

header .headline {
  
}
header .headline a {
  background-color: white;
  font-size: 60px;
  color: #656565;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
}
header .headline a:hover {
  cursor: pointer;
}

header .sub-menu {

}
header .sub-menu ul.menu {
  background-color: red;
  font-size: 20px;
  justify-content: flex-end;
  display: flex;
}
header .sub-menu ul.menu li{
  padding: 0 10px 0;
}