#wrap {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px;
}
header {
  font-size: 28px;
  font-weight: bold;
  background-color: skyblue;
  /* margin-bottom: 100px; */
}

main {
  background-color: gray;
  padding: 20px;
}
main:after {
  content: "";
  display: block;
  clear: both;
}
main .container {
  background-color: red;
  float: left;
  width: 600px;
  padding: 20px;
}
main .container .sidebar_left{
  background-color: orange;
  float: left;
  width: 130px;
}
main .container .contents {
  background-color: pink;
  float: right;
  width: 440px;
}

main .sidebar_right {
  background-color: lightgray;
  float: right;
  width: 150px;
}
footer {
  background-color: skyblue;
}