body {
    font-family: 'Montserrat', sans-serif;

}
.wrap {
    background-image: url(../images/배경이미지.png);
    background-size: 1920px 1200px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1200px;
    width: 1920px;
    margin: 0 auto;
    padding: 0 100px;
    box-sizing: border-box;
}

header {
    padding-top: 30px;
}
header h1 {
    float: left;
    font-size: 50px;
    font-weight: bold;
}
header nav ul{
    float: left;
    margin: 30px 0 0 140px;
}
header nav ul li{
    margin-right: 65px;
    float: left;
    font-size: 24px;
}
header nav ul li:last-child{
    margin-right: 0;
}
header nav ul li:hover{
    font-size: 28px;
    font-weight: bold;
    color: #4d3914;
}

header .icons {
    float: right;
    font-size: 30px;
    margin: 30px 0 0 140px;
}
header .icons i {
    margin-right: 20px;
}

section {
    position: relative;
}
.top {
}
.top h2{
    font-size: 110px;
    font-weight: bold;
    margin-top: 250px;
}

.middle p {
    width: 980px;
    font-size: 22px;
    color: #999;
    margin-top: 50px;
}

.bottom {
    margin-top: 100px;
}
.bottom img {
    cursor: pointer;
}
section img[src*="가로등"] {
    position: absolute;
    right: 100px;
    top: -250px;
    height: 1034px;
}

footer p {
    text-align: center;
    margin: 200px 0 100px 0;
}




