/* #wrap {
  width: 1000px;
  margin: 0 auto;
  background-color: skyblue;
  padding: 20px;
}

header {
  background-color: royalblue;
  padding: 15px;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
}

main {
  margin-top: 20px;
}
main::after{
  content: "";
  display: block;
  clear: both;
}
main section h2 {
  font-size: 30px;
  font-weight: bold;
}

main .main_text {
  width: 600px;
  background-color: cyan;
  float: left;
  padding: 20px;
}
main .side_bar {
  width: 250px;
  background-color: darkgrey;
  float: right;
  padding: 20px;
}

footer {
  text-align: center;
  background-color: gray;
  padding: 20px;
  margin-top: 20px; */
}

